.content {
    font-family: 'Inter', Arial, sans-serif;
}


@media screen and (min-width: 426px) and (max-width: 900px) {
    .content {
        margin: 0 auto;
        max-width: 564px;
    }
}

@media screen and (max-width: 481px) {
    .content {
        margin: 0 auto;
        max-width: 282px;
    }
}