.profile {
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    column-gap: 30px;
}

@media (max-width: 1080px) {
    .profile {
        flex-wrap: wrap;
        row-gap: 36px;
    }
}

@media (max-width: 768px) {
    .profile {
        padding: 42px 0 0;
        flex-direction: column;
        row-gap: 0;
    }
}