.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    right: -40px;
    top: -40px;
    background-image: url(../../../images/close-btn.svg);
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0);
    background-position: center;
    background-size: 32px;
    border: none;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .popup__close {
        background-position: center;
        background-size: cover;
        max-width: 20px;
        max-height: 20px;
        top: -30px;
        right: 0;
    }
}