.popup__job {
    margin-bottom: 48px;
    min-width: 358px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom:  solid 1px rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
    .popup__job{
        margin-bottom: 45px;
        min-width: 238px;
    }
}