.photo-cards__content-wrapper {
    max-width: 282px;
    background-color: white;
    border-radius: 10px;
}
@media screen and (min-width: 426px) and (max-width: 900px) {
    .photo-cards__content-wrapper {
        max-width: 232px;
    }
}
