@media screen and (min-width: 426px) and (max-width: 900px) {
    .footer {
        margin-left: 22px;
    }
}

@media screen and (max-width: 481px) {
    .footer {
        margin: 0 auto;
        max-width: 282px;
    }
}