.logo {
    width: 142px;
    height: 33px;
}

@media screen and (min-width: 426px) and (max-width: 900px) {
    .logo {
        margin-left: 22px;
    }
}


@media screen and (max-width: 481px) {
    .logo {
        width: 104px;
        height: 24.4px;
        margin-left: 27px;
    }
}