.photo-cards__like-btn {
    margin-right: 20px;
    padding: 0;
    width: 22px;
    height: 19px;
    align-self: center;
    justify-self: flex-end;
    box-sizing: border-box;
    background-color: white;
    background: url(../../../images/like-btn_disable.svg) no-repeat center;
    border: none;
    cursor: pointer;
}

.photo-cards__like-btn:hover {
    opacity: 0.5;
    transition: all 0.1s ease-in-out;
}