.photo-cards__content-wrapper {
    width: 282px;
    height: 361px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}
@media screen and (min-width: 768px) and (max-width: 900px) {
    .photo-cards__content-wrapper {
        max-width: 232px;
    }
}
