.popup__save {
    margin: 31px 0 37px 0;
    padding: 0;
    color: white;
    border-radius: 2px;
    border: none;
    background-color: black;
    min-width: 358px;
    min-height: 50px;
    box-sizing: border-box;
    cursor: pointer;
}

/*В макете указан только курсор-поинтер, других изменений при ховере нет */

@media screen and (max-width: 900px) {
    .popup__save{
        margin: 15px 0 0 0;
        min-width: 238px;
        min-height: 46px;
        font-size: 14px;
    }
}